/* lang-filter.css */
.lang-filter {
  padding: .5rem; 
  padding-top: .45rem;
  padding-left: .75rem;
  margin: 1rem 0 .5rem 0; 
  width: 25%;
  border: none; 
  box-shadow: none; 
  background: transparent; 
  appearance: none; 
  cursor: pointer;
  font-weight: 500;
  max-width: 26%;
  height: 2.5rem;
  /* Remove default arrow */
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 10px center;
  
  background-color: #fffffff5;
  border: .5px solid #ccc;
  border-radius: 0.25rem;
  /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
}

.lang-filter:hover {
  /* background-color: #f0f0f0; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.lang-filter:focus {
  /* background-color: #ffffff; */
  outline: none;
}


@media (max-width: 888px) {
.lang-filter {
  max-width: 28%;
  padding: 1px 10px !important;
}
}