
@font-face {
  font-family: "open-sans";
  src: url("https://fonts.googleapis.com") format("open-sans");
  font-display: swap;
}

:root {
  --main-color: #d51c29;
  --second-color: #2c75ba;
  --main-font-color: #101f46;
  --main-gray: #383838;
  --blue: #3d92d6;
  --light-blue: #deeefb;
  --green: #3dd66e;
  --light-green: #e1feec;
  --purple: #823dd6;
  --light-purple: #e6defb;
  --light-main-color: #fbdede;
  --light-star-color: #fbf4de;
  --dark-main-color: #b81722;
  --first-gray-font-color: #999999;
  --second-gray-font-color: #8b8b8b;
  --star-color: #febf00;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  /* background-color: #ffffff; */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
}

.Toastify__toast-container {
  z-index: 9999999;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-y: auto;
}

body {
  margin: 0;
}

main {
  display: block;
}

figure {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button-primary {
  padding: 0.6rem 0.8rem;
  border-radius: 0.2rem;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

.flex {
  display: flex !important;
  align-items: center;
}

.height-max>* {
  height: 100%;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*--------------------------------------------------------------
>>> Typography
----------------------------------------------------------------*/
body {
  font-size: 15px;
  color: #383838;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

@media screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

p {
  line-height: 1.6;
  margin: 0 0 15px;
  word-wrap: break-word;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote,
pre {
  background-color: #fafafa;
  border-width: 0 0 0 3px;
  border-color: #d9d9d9;
  border-style: solid;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin: 0 0 15px 0;
  padding: 25px 22px;
  font-size: 18px;
}

blockquote p,
pre p {
  margin-bottom: 0;
}

blockquote {
  background-color: transparent;
  border-left: none;
  color: #101f46;
  margin: 40px 0;
  text-align: center;
  position: relative;
  padding: 30px;
}

blockquote:before {
  background-color: #fff;
  color: #333333;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  float: left;
  margin-right: 20px;
  line-height: 1;
  font-style: normal;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: -10px;
  padding: 0 10px;
  z-index: 9;
}

blockquote:after {
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  content: "";
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  width: 200px;
}

blockquote p {
  font-size: 28px;
  line-height: 1.4;
}

blockquote cite {
  color: #8d8d8d;
  display: block;
  font-style: normal;
  font-size: 13px;
}

abbr,
acronym {
  border-bottom: 1px dotted #4d4d4d;
  cursor: help;
}

mark,
ins {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

big {
  font-size: 125%;
}

b,
strong {
  font-weight: 700;
}

iframe {
  display: block;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101f46;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  line-height: 1.2;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 65px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
  font-weight: 900;
}

h3 {
  font-size: 23px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 1.5em 0.875em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li>ul,
li>ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  /* color: #0085ba; */
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover,
a:focus,
a:active {
  color: #2c75ba;
  text-decoration: none;
  outline: 0;
}

a:visited {
  text-decoration: none;
  outline: 0;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #1a1a1a;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}




/*--------------------------------------------------------------
>>> button
----------------------------------------------------------------*/
.outline-primary,
.outline-round,
/* .button-primary, */
.button-round,
.button-secondary {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.3;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 3.5px;
}

@media screen and (max-width: 575px) {

  .outline-primary,
  .outline-round,
  .button-round,
  .button-secondary {
    font-size: 14px;
    padding: 10px 20px;
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background-color: #d51c29;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 30px;
  font-weight: 600;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  background-color: #2c75ba;
}

.button-primary,
.button-round {
  background-color: #d51c29 !important;
}

.button-secondary {
  background-color: #0791be;
}


/* .button-primary, */
.button-round,
.button-secondary {
  border: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button-primary:hover,
.button-primary:focus,
.button-primary:active,
.button-round:hover,
.button-round:focus,
.button-round:active,
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  background-color: #2c75ba !important;
  color: #ffffff;
}

.outline-primary,
.outline-round {
  background-color: transparent;
  border: 2px solid #292929;
  padding: 13px 30px;
  color: #292929;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  -ms-transition: background-color 0.3s, border-color 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.outline-primary:hover,
.outline-primary:focus,
.outline-primary:active,
.outline-round:hover,
.outline-round:focus,
.outline-round:active {
  background-color: #2c75ba;
  border-color: #2c75ba;
  color: #ffffff;
}

.button-round,
.outline-round {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.button-text {
  color: #0791be;
  font-weight: 600;
  position: relative;
  line-height: 1.3;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.button-text:hover,
.button-text:focus,
.button-text:active {
  color: #d51c29;
}

/*--------------------------------------------------------------
>>> Default 
----------------------------------------------------------------*/
.white-bg {
  background-color: #ffffff;
}

.bg-light-grey {
  background-color: #f8f8f8;
}

.primary-bg {
  background-color: #d51c29;
}

.secondary-bg {
  background-color: #0791be;
}

.pl-20 {
  padding-left: 20px;
}

.pr-40 {
  padding-right: 40px;
}

.site-loader {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
}

.site-loader .preloader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70px;
}
